.div-levelCenter {
	margin: 0 auto;
	height: 400px;
}

.img-center {
	float: left;
	border:1px solid #009A61;
	padding: 30px;
}

.lures {
	text-align: center;
}

.div-levelCenter h3 {
	text-align: center;
}

.img-China {
	margin: 0 auto;
	height: 250px;
}

.img-China h3 {
	text-align: center;
}

.img-hubei {
	margin: 0 auto;
	height: 250px;
}
.img-hubei h3 {
	text-align: center;
}
.img-wuhan {
	margin: 0 auto;
	height: 250px;
}
.img-wuhan h3 {
	text-align: center;
}
.img-foreign {
	margin: 0 auto;
	height: 350px;
}
.img-foreign h3 {
	text-align: center;
}

.img-zhexian {
	float: left;
	border:1px solid #009A61;
}